{% assign services = site.data.data.services %}
{% if services %}
<section class="services-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ services.title }}
  </h2>

  <div class="services">
    
    <h3 class="Reviewers-title">
      Reviewers
    <\h3>
    {% for reviewer in services.reviewers %}
    <div class="time">{{ reviewer.role }}<\div>
    {% endfor %}
      
    <h3 class="TA-title">
      Teaching Assistants
    <\h3>
    {% for teaching-assistance in services.teaching-assistances %}
    <div class="time">{{ teaching-assistance.role }}<\div>
    {% endfor %}
      
  </div>

</section><!--//services-section-->
{% endif %}
