{% assign services = site.data.data.services %}
{% if services %}
<section class="services-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ services.title }}
  </h2>

  <div class="services">

    {% for service in services.type %}
    <div class="item">

      <h3 class="role">{{ service.role }}</h3>
      <div class="time">{{ service.time }}<\div>

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//services-section-->
{% endif %}
