{% assign services = site.data.data.services %}
{% if services %}
<section class="services-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ services.title }}
  </h2>

  <div class="services">
    
    <h4 class="Reviewers-title">Reviewers</h4>
    {% for reviewer in services.reviewers %}
    <li>{{ reviewer.role }}</li>
    {% endfor %}
      
    <h4 class="TA-title">Teaching Assistants</h4>
    {% for teaching-assistance in services.teaching-assistances %}
    <li>{{ teaching-assistance.role }}</li>
    {% endfor %}
      
  </div>

</section><!--//services-section-->
{% endif %}
